#bg-info {
  p {
    text-align-last: left;
  }

  .img-holder {
    // width: 50vh;
    border-radius: 10px;
    background-color: #000;
    position: relative;
    img {
      max-height: 45vh;
      width: auto;
    }
  }
  .cards {
    & .img-holder {
      background-color: transparent;
    }
    .cards-desc .cta {
      transition: 1s;
      transform: scale(1);
    }
    .cards-desc:hover {
      .cta {
        transition: 1s;
        transform: scale(1.1);
      }
    }

    & > a {
      border-radius: 10px;
      background-color: #000;
      text-align-last: left;
      color: initial;
      text-decoration: none;
    }
  }
}

.carousel .slide{
  padding: 5vw;
}

.carousel .slide .cards-desc img {
  width: 30px;
}

.carousel.carousel-slider .control-arrow {
  background: none;
  &:hover {
    background: none;
  }
}
