#archive{
    width: 100vw;
    height: 100vw;
    padding-bottom: 200px;
    overflow: scroll;
    .archive-card{
        width: 80%;
        height: auto;
        border: 1px solid white;
        border-radius: 10px;
        img{
            // border: 1px yellow dashed;
        }
    }
}